# Alma API Example

A demonstration of how to do obtain metadata from searching MMS IDs on the Alma API

In [1]:
import requests

Here, we input the base API url we will be querying from, and we will input our API key

In [2]:
# Base URL
base_url = "https://api-ap.hosted.exlibrisgroup.com/almaws/v1/bibs"

#API Key
apikey = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

Here, we issue a query request with a specific MMS ID. The variable response contains the response to the request

In [3]:
response = requests.get(base_url, params={'mms_id': '991020536689702626','apikey':apikey})

To check the status of the response:

In [4]:
print(response.status_code)

200

Since the response content is in XML, we will use python libraries to parse the contents and convert them to a python dataframe

In [5]:
# For obtaining tags
import xml.etree.ElementTree as ET
root = ET.fromstring(response.text)

# For obtaining values
import untangle
obj = untangle.parse(response.text)

# For creating a dataframe, we will use the library Pandas
import pandas as pd

# We will add tags as column names in our dataframe
columns=[]
for i in root[0]:
    columns.append(i.tag)

df = pd.DataFrame(columns=columns)

# Now we will add the attribute values for our search item into the dataframe as a row
attribs=[]

for v in obj.bibs.bib.children:
    attribs.append(v.cdata)

df.loc[len(df)] = attribs

In [12]:
df.head()

,mms_id,record_format,linked_record_id,title,network_numbers,place_of_publication,date_of_publication,publisher_const,holdings,created_by,created_date,last_modified_by,last_modified_date,suppress_from_publishing,originating_system,originating_system_id,cataloging_level,record
0,991020536689702626,marc21,,Van Diemen's Land Company : (from History of V...,,London :,1832.,British magazine,,import,2016-05-17Z,exl_api,2019-06-12Z,false,OTHER,b15751296-61slnsw_inst,00,

Now, we can manipulate the dataframe, or look up specific columns

In [9]:
df['title']

0    Van Diemen's Land Company : (from History of V...
Name: title, dtype: object

## We can populate more rows in the dataframe with more search items